<div class="container">
  <% if @list.photo.attached? %>
    <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <h1> <%= @list.name  %> </h1>
  <br>
  <h2>Movies:</h2>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %></li>
    <li><%= bookmark.movie.overview %></li>
    <li><%= bookmark.movie.rating %></li>
    <%= image_tag bookmark.movie.poster_url, height: 300, width: 400, crop: :fill  %>
  <% end %>
  <br>
  <%= link_to "Add movie", new_list_bookmark_path(@list) %>
  <br>
  <%= link_to "Back to homepage", lists_path %>
</div>
